section {
    margin-top: 10rem;
    flex-grow: 1;
    flex-direction: row-reverse;

    @media (min-width: 768px) {
        display: flex;
        gap: 1rem;
    }

    div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
        overflow: hidden;
        margin: 0 auto;
        max-width: calc(768px / 2);

    }
}

.content {
    margin: 2rem;
    @media (max-width: 480px) {
      margin: 2rem; 
    }
    text-transform: lowercase;
  }


.image {
    max-width: 100%;
    width: 300px;
    margin: 0 auto;
    
    @media (max-width: 480px) {
      max-width: 250px;
    }
    
    .circle {
      aspect-ratio: 0.84; 
      object-fit: cover;
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }


