$background-color: #000;
$color: #fff;
$header-and-footer-height: 3rem;
$header-and-footer-padding: 1rem;
$header-and-footer-margin: 0.5rem;
$main-padding: 2rem;
$one-px-in-rem: 0.0625rem;
$glass-bg: rgba(0, 0, 0, 0.25);
$glass-blur: blur(36px);
$glass-border: 0px;
$glass-shadow: 0 8px 32px 0 rgba(241, 227, 171, 0.974);
$glass-radius: 0px;

* {
  margin: 0;
  border: 0;
  padding: 0;
  text-transform: lowercase;
}

body {
  background: url("../public/starry-grunge.jpg");
  background-size: contain;
  color: $color;
  font-family: sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}

header,
footer {
  position: relative;
  overflow: hidden;
  z-index: 999;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $glass-bg;
  backdrop-filter: $glass-blur;
  -webkit-backdrop-filter: $glass-blur;
  box-shadow: $glass-shadow;
  border: $glass-border;
  border-radius: $glass-radius;
  margin-bottom: $header-and-footer-margin;
  padding: $header-and-footer-padding;
  height: $header-and-footer-height;
  width: calc(100% - #{$header-and-footer-padding * 2});

  &::after {
    display: none;
  }

  nav {
    height: 100%;
    position: relative;
    z-index: 2;

    ul {
      display: flex;
      flex-direction: row;
      height: inherit;

      li {
        display: flex;
        align-items: center;

        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 1rem;
          height: 100%;
          width: 100%;
          color: inherit;
          text-decoration: none;
          text-align: center;

          &:hover,
          &:focus {
            background-color: #fff;
            color: $background-color;
          }
        }
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto calc(
    #{$header-and-footer-height + $header-and-footer-padding + $header-and-footer-margin + $one-px-in-rem}
  );
  padding: $main-padding;
  min-height: calc(
    100vh - #{$header-and-footer-height * 2} - #{$header-and-footer-padding * 2} - #{$header-and-footer-margin * 2} -
      #{$main-padding * 2}
  );
  width: 100%;
  max-width: calc(100vw - 2 * 1.5rem);

  @media (min-width: 768px) {
    max-width: calc(768px - 2 * 1.5rem);
  }

  h1 {
    font-size: 2rem;
    padding: 1em 0 0.5em;
  }

  p {
    font-family: serif;
    padding: 1em 0 0.5em;
  }

  section {
    flex-grow: 1;
    flex-direction: row-reverse;

    @media (min-width: 768px) {
      display: flex;
      gap: 1rem;
    }

    div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 1rem;
      margin: 0 auto;
      max-width: calc(768px / 2);

      @media (min-width: 768px) {
        width: 50%;
      }

      img.circle {
        width: 100%;
        border-radius: 75%;
        border: 1px solid white;
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  background: $glass-bg;
  backdrop-filter: $glass-blur;
  -webkit-backdrop-filter: $glass-blur;
  border: $glass-border;
  border-radius: $glass-radius;
  display: flex;
  flex-direction: row;
  box-shadow: $glass-shadow;

  justify-content: flex-end;
  margin-top: $header-and-footer-margin;
  padding: $header-and-footer-padding;
  height: $header-and-footer-height;
  width: 100%;

  &::after {
    display: none;
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.15rem;
    position: relative;
    z-index: 2;
  }
  
  ul {
    display: inherit;
    padding: 1.5rem;
    gap: 1.5rem;
    position: relative;
    z-index: 2;
    
    li {
      display: inherit;
      flex-grow: inherit;
      align-items: center;
    }
  }
}

.sec-text{
  display: flex;
  flex-direction: column;
  justify-self: center;
  font-size: 1.5rem;
  padding: 1rem;
  margin: auto;
  max-width: 48rem; // to be changed 
  width: 100%;
}